.invalid {
    -fx-background-color: lightpink;
}

#login{
  -fx-graphic: url("/img/1.png");
}

.correctly {
    -fx-control-inner-background: greenyellow;
}
.incorrectly {
    -fx-control-inner-background: lightpink;
}


